<%# section for filters %>
<div class="filters">
	<%# creates a dropdown that holds different filters%>
	<div>
		<select id="filter" onchange="filter()">
			<option value="all">All</option>
			<option value="halal">Halal</option>
			<option value="vegan">Vegan</option>
			<option value="vegetarian">Vegetarian</option>
			<option value="kosher">Kosher</option>
			<option value="gluten-free">Gluten-Free</option>
		</select>
</div>
<div class="restaurants">
	<%# loops through list of restaurants and creates divs from it%>
	<%# each div contains the restaurant's name, address, and overall rating (eventually) %>
	<%# each div also contains a button to view the restaurant's page %>

	<% @restaurants = Restaurant.all %>
  <!-- Snip the table -->
	<% @restaurants.each do |restaurant| %>
		<div class="restaurant">
			<%= restaurant.name %><br>
			<%= restaurant.address%><br>
			<%= restaurant.cuisine %><br>
			<%= link_to "View", restaurant_path(restaurant) %>
		</div>
	<% end %>
	
	
</div>

<script>
	//function that filters the restaurants based on the filter selected
	function filter(){
		var filter = document.getElementById("filter").value;
		var restaurants = document.getElementsByClassName("restaurant");
		for(var i = 0; i < restaurants.length; i++){
			var restaurant = restaurants[i];
			if(filter == "all"){
				restaurant.style.display = "block";
			}
			else{
				if(restaurant.innerHTML.includes(filter)){
					restaurant.style.display = "block";
				}
				else{
					restaurant.style.display = "none";
				}
			}
		}
	}
</script>
