<h1>Editing halal item</h1>

<%= render "form", halal_item: @halal_item %>

<br>

<div>
  <%= link_to "Show this about_halal item", @halal_item %> |
  <%= link_to "Back to about_halal items", halal_items_path %>
</div>
