<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Id:</strong>
    <%= restaurant.id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= restaurant.location_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

</div>
