<% provide(:title, @restaurant.name) %>

<p style="color: green"><%= notice %></p>

<%= render partial: "restaurant", object: @restaurant  %>

<div>
  <p>
  
  <%= link_to "Back to restaurants", restaurants_path %> | 
  <%= link_to "Back to home page", root_url %>
  </p>

</div>
  
