<p style="color: green"><%= notice %></p>

<%= render partial: "restaurant", object: @restaurant  %>

<div>
  <%# link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %>
  
  <p>
  <%# save this restaurant to your favorites %>
  <%# link_to "Add to favorites", favorites_restaurants_path(restaurant_id: @restaurant.id) %>
  <%# link_to "Back to restaurants", restaurants_path %>
  <%= link_to "Back to home page", root_url %>
  </p>

</div>
  
