<% provide(:title, "About Halal") %>

<div>
    
    <h1 style = "font-size:350%;color: white;">WHAT IS HALAL FOOD?</h1>
    <div class ="food_img_box"> 
        <%= image_tag("halal_food.jpg", :alt => "Halal", :id => "halal")%>
    </div>
    <br><br><br>
    <h2 style="color: white;">What is the meaning of Halal (حلال)? </h2>
    <p style = "font-size:150%;text-align:justify;color: white;">
    The word <i>Halal</i> (/həˈlɑːl/; Arabic: حلال, <i>ḥalāl</i>) 
    is an Arabic word that translates to "permissible". In the 
    context of <i>halal food</i>, it refers to food that is 
    permissible under Islamic dietary laws.
    <br>
    <h2 style="color: white;">What are the conditions for food to be Halal? </h2>
    <p style = "font-size:150%;text-align:justify;color: white;">
    For the food to be halal, there are many requirements. This is 
    not an exhaustive list but here are some:

    <ul style = "font-size:150%;text-align:justify;color: white;">
        <li>The item must not contain any form of pork</li>
        <li>The use of alcohol has different opinions, but
        isn't permissible for the most part</li>
        <li>The item must not contain any intoxicating and 
        hazardous plants except where the toxin or hazard can 
        be eliminated during processing</li>
        <li>The item has not been prepared, processed, 
        transported or stored using any appliance or facility 
        that was not free from anything unlawful, according 
        to Islamic Law. Major requirements in Islamic Law 
        include the ones stated above
        </li>
        <li>For any meat dish/item to be halal, it can only 
        be sourced from certain animals. It must also be 
        <i>Zabiha</i>. The requirements for Zabiha are the 
        following:</li>
            <ul>
                <li>The animal must be slaughtered by one of 
                the People of the Books (The followers of 
                Abrahamic religions, especially Jews and 
                Christians)</li>
                <li>Slaughtering in the name of Allah (God)</li>
                <li>The slaughtering must be quick and be done 
                using a sharp tool. It should also be done by 
                a cut that severes the carotid arteries, jugular 
                veins, the oesophagus, and the trachea (basically 
                the major vessels</li>
            </ul>
    </ul>

    </p>
</div>