<% provide(:title, "About the Devs") %>

<h1>Meet the Devs</h1>
<%# <small># we can decide on an order for names later, 
for now I just put us in alphabetical order by first name</small> %>

<div class="bio-section">
	<div class="bio-content">
		<h2>Anjola Uprety</h2>
		<p>Stuff for Anjola goes here</p>
	</div>
	<div class="bio-image">
		<%# image doesn't work on heroku %>
		<%# image_tag "map_icon", style: 'height:200px;width:200px;margin-bottom:20px;' %>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Elizabeth Diener</h2>
		<p>Stuff for Elizabeth goes here</p>
	</div>
	<div class="bio-image">
		<%# image_tag "map_icon", style: 'height:200px;width:200px;margin-bottom:20px;' %>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Fritz Duverglas</h2>
		<p>Stuff for Fritz goes here</p>
	</div>
	<div class="bio-image">
		<%# image_tag "map_icon", style: 'height:200px;width:200px;margin-bottom:20px;' %>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Syed Hassan</h2>
		<p>Stuff for Syed goes here</p>
	</div>
	<div class="bio-image">
		<%# image_tag "map_icon", style: 'height:200px;width:200px;margin-bottom:20px;' %>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Zuhaeer Islam</h2>
		<p>Stuff for Zuhaeer goes here</p>
	</div>
	<div class="bio-image">
		<%# image_tag "map_icon", style: 'height:200px;width:200px;margin-bottom:20px;' %>
	</div>
</div>
