<% provide(:title, "About the App") %>

<h1>About Our Vision</h1>

<div>
    <p>
    As a Muslim living in the US, it’s difficult and very time consuming 
    when we try to find a halal restaurant.  However, this app would 
    help the Muslim community easily find lots of these hidden places that 
    have halal options, so people who don’t keep halal can enjoy and have 
    a great culinary experience with people who keep halal. A win-win for 
    both parties.
    <br><br>
    Halal is a dietary restriction for Muslims (like the Muslim equivalent 
    of Kosher). Not all restaurants have all halal/zabiha options. However, 
    there are many restaurants that may have part of their menu be halal 
    (their chicken is halal but not their beef), but as a result, not be 
    considered halal when searched on Google. Sometimes restaurants 
    themselves aren’t aware that they are sourcing from a halal/zabiha supplier. 
    The app would help people find halal restaurants based on their location. 
    However, this app would also allow users to add restaurants that they have 
    found to use halal/zabiha in part or all their menu.
    </p>
</div>