<% provide(:title, "Assets Used") %>

<h1>Assets Used in this App</h1>
<ul>
  <li><a href="https://developers.google.com/maps">Google Maps Javascript API</a></li>
  <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
</ul>