<h1>Meet the Devs</h1>
<small># we can decide on an order for names later, for now I just put us in alphabetical order by first name</small>

<h2>Anjola Uprety</h2>

<h2>Elizabeth Diener</h2>

<h2>Fritz Duverglas</h2>

<h2>Syed Hassan</h2>

<h2>Zuhaeer Islam</h2>
