.hidden{
	display: none;
}
.map-section{
	background-color: rgb(203, 203, 203);
	height: 100%;
	width: 100%;
}
#map{
	height: 600px;
	width: 100%;
	margin: 0 auto;
}
.hover{
	cursor: pointer;
}
.icon-section{
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
}