<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 footer-blurb">
        <h2>Halal You Can Eat</h2>
        <p>Anjola Uprety, Elizabeth Diener, Fritz Duverglas, Syed Hassan, Zuhaeer Islam</p>
      </div>
      <div class="col-lg-5 col-xs-12 footer-links">
        <h3>Links</h3>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About the App", about_app_path %></li>
          <li><%= link_to "About the Devs", about_devs_path %></li>
          <li><%= link_to "About Halal", about_halal_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>